manifest {
	author = "Muraveva Alisa"
	mainScript = "main.nf"
	defaultBranch = "main"
	name = "finding genes/isoforms"
	description = "Pipeline for identifying and quantifying known and novel genes/isoforms in long-read RNA-seq data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash'] // , '-ueo','pipefail' ]
params {
	includeConfig './params.config'
}

profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "pool"
			memory = { 80.GB * task.attempt }
			cache = "lenient" // may need to switch to deep
			errorStrategy = { (task.exitStatus == 143 || task.exitStatus == 137 || task.exitStatus == 135) ? 'retry' : 'terminate' }
			maxRetries = 3
                        beforeScript = "module load apptainer/1.1.2"
		}
		conda.enabled = true
		singularity {
			enabled = true
			autoMounts = true
		}
		executor {
			$slurm {
				queueSize = 300
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
