samples_file = "/home/amuravyova/LR_RNAseq/RNA-Seq_LR/cDNA/SS_pipeline/2_test_fetal_samples_file_list_fastqs.tsv"
conda = "/home/sabramov/miniconda3/envs/ont" // path to conda env
outdir = "/net/seq/data2/projects/amuravyova/nf-long-reads-align/result_test"
genome_fasta = "/home/amuravyova/ref/human_GRCh38/GRCh38_no_alt_analysis_set_GCA_000001405.15_short_names_chr_for__SJ_chrALL.fasta"
spl_jnk = "/home/amuravyova/ref/human_GRCh38/SJs.txt"
known_variants_vcf = "/home/amuravyova/ref/human_GRCh38/ENCFF911UGW.vcf"

// genotypes_file = "/net/seq/data2/projects/sabramov/ENCODE4/babachi-validation-iter2/output/genotypes/all.filtered.snps.annotated.vcf.gz"


// nanosv_regions = "/home/sabramov/projects/ont/toy_example/covabachi/whole_genome.bed"
// blacklist="/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
// slice_size = 1000
// bams_list = "/net/seq/data2/projects/sabramov/ont/cell_lines_r10/count_files/bam_files.txt"
