samples_file = "/net/seq/data2/projects/amuravyova/nf-long-reads-align/FETAL/81_100_fetal_with_pathways.csv"
outdir = "/net/seq/data2/projects/amuravyova/nf-long-reads-align/FETAL_new"
genome_fasta = "/home/amuravyova/ref/human_GRCh38/GRCh38_no_alt_analysis_set_GCA_000001405.15_short_names_chr_for__SJ_CHR1-22XYM.fasta"
genome_gtf = "/home/amuravyova/ref/human_GRCh38/gencode.v29.primary_assembly.annotation_UCSC_names.gtf"
spl_jnk = "/home/amuravyova/ref/human_GRCh38/SJs.txt"
known_variants_vcf = "/home/amuravyova/ref/human_GRCh38/ENCFF911UGW.vcf"
conda = "/home/sabramov/miniconda3/envs/ont" // path to conda env

description="fetal_sample"
platform="PromethIon"

// genotypes_file = "/net/seq/data2/projects/sabramov/ENCODE4/babachi-validation-iter2/output/genotypes/all.filtered.snps.annotated.vcf.gz"


// nanosv_regions = "/home/sabramov/projects/ont/toy_example/covabachi/whole_genome.bed"
// blacklist="/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
// slice_size = 1000
// bams_list = "/net/seq/data2/projects/sabramov/ont/cell_lines_r10/count_files/bam_files.txt"
