samples_file = "/net/seq/data2/projects/amuravyova/nf-long-reads-align/FETAL/LN272961_fetal_with_pathways.csv"
outdir = "/net/seq/data2/projects/amuravyova/nf-long-reads-align/FETAL_ref_v46_NEW_TEST"
genome_fasta = "/home/amuravyova/ref/human_GRCh38/GRCh38.primary_assembly.genome__CHR1-22XYM.fa"
genome_gtf = "/home/amuravyova/ref/human_GRCh38/gencode.v46.annotation.gtf"
spl_jnk = "/home/amuravyova/ref/human_GRCh38/SJs_for_gtf_v46_prim_ass_NEW.txt"
known_variants_vcf = "/home/amuravyova/ref/human_GRCh38/GCF_000001405.40_UCSC_chr_names"
conda = "/home/sabramov/miniconda3/envs/ont" // path to conda env

build="human_GRCh38.primary_assembly_p14"
annotation_v="human_gencode.v46"
description="fetal_sample"
platform="PromethIon"


// genotypes_file = "/net/seq/data2/projects/sabramov/ENCODE4/babachi-validation-iter2/output/genotypes/all.filtered.snps.annotated.vcf.gz"


// nanosv_regions = "/home/sabramov/projects/ont/toy_example/covabachi/whole_genome.bed"
// blacklist="/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
// slice_size = 1000
// bams_list = "/net/seq/data2/projects/sabramov/ont/cell_lines_r10/count_files/bam_files.txt"
